CompileFlags:
  Add:
    - -Wall
    - -Wextra
    - -Wpedantic
    - -std=c++17
  Remove:
    - -Werror
  CompilationDatabase: build

Diagnostics:
  UnusedIncludes: Strict
  MissingIncludes: Strict

Completion:
  AllScopes: Yes
  ArgumentLists: FullPlaceholders
  HeaderInsertion: IWYU
  CodePatterns: All

Index:
  Background: Build
